@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url("https://mzlui.codeym.com/iconfont.ttf") format("truetype");
}
[class*="m-icon"] {
  font-family: "iconfont" !important;
  font-size: 14px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  float: none;
  display: inline-block;
}
.m-icon-shangchuan:before {
  content: "\e671";
}

.m-icon-loading2:before {
  content: "\e6ab";
}

.m-icon-loading3:before {
  content: "\e6ac";
}

.m-icon-loading4:before {
  content: "\e6ad";
}

.m-icon-loading5:before {
  content: "\e6b1";
}

.m-icon-loading6:before {
  content: "\e708";
}

.m-icon-bianji:before {
  content: "\e622";
}

.m-icon-collection_fill:before {
  content: "\e6ea";
}

.m-icon-collection:before {
  content: "\e6eb";
}

.m-icon-3column:before {
  content: "\e663";
}

.m-icon-column-4:before {
  content: "\e664";
}

.m-icon-add:before {
  content: "\e665";
}

.m-icon-add-circle:before {
  content: "\e666";
}

.m-icon-adjust:before {
  content: "\e667";
}

.m-icon-arrow-up-circle:before {
  content: "\e668";
}

.m-icon-arrow-right-circle:before {
  content: "\e669";
}

.m-icon-arrow-down:before {
  content: "\e66a";
}

.m-icon-ashbin:before {
  content: "\e66b";
}

.m-icon-arrow-right:before {
  content: "\e66c";
}

.m-icon-browse:before {
  content: "\e66d";
}

.m-icon-bottom:before {
  content: "\e66e";
}

.m-icon-back:before {
  content: "\e66f";
}

.m-icon-bad:before {
  content: "\e670";
}

.m-icon-arrow-double-left:before {
  content: "\e672";
}

.m-icon-arrow-left-circle:before {
  content: "\e673";
}

.m-icon-arrow-double-right:before {
  content: "\e674";
}

.m-icon-caps-lock:before {
  content: "\e675";
}

.m-icon-camera:before {
  content: "\e676";
}

.m-icon-chart-bar:before {
  content: "\e677";
}

.m-icon-attachment:before {
  content: "\e678";
}

.m-icon-code:before {
  content: "\e679";
}

.m-icon-close:before {
  content: "\e67a";
}

.m-icon-check-item:before {
  content: "\e67b";
}

.m-icon-calendar:before {
  content: "\e67c";
}

.m-icon-comment:before {
  content: "\e67d";
}

.m-icon-column-vertical:before {
  content: "\e67e";
}

.m-icon-column-horizontal:before {
  content: "\e67f";
}

.m-icon-complete:before {
  content: "\e680";
}

.m-icon-chart-pie:before {
  content: "\e681";
}

.m-icon-cry:before {
  content: "\e682";
}

.m-icon-customer-service:before {
  content: "\e683";
}

.m-icon-delete:before {
  content: "\e684";
}

.m-icon-direction-down:before {
  content: "\e685";
}

.m-icon-copy:before {
  content: "\e686";
}

.m-icon-cut:before {
  content: "\e687";
}

.m-icon-data-view:before {
  content: "\e688";
}

.m-icon-direction-down-circle:before {
  content: "\e689";
}

.m-icon-direction-right:before {
  content: "\e68a";
}

.m-icon-direction-up:before {
  content: "\e68b";
}

.m-icon-discount:before {
  content: "\e68c";
}

.m-icon-direction-left:before {
  content: "\e68d";
}

.m-icon-download:before {
  content: "\e68e";
}

.m-icon-electronics:before {
  content: "\e68f";
}

.m-icon-drag:before {
  content: "\e690";
}

.m-icon-elipsis:before {
  content: "\e691";
}

.m-icon-export:before {
  content: "\e692";
}

.m-icon-explain:before {
  content: "\e693";
}

.m-icon-edit:before {
  content: "\e694";
}

.m-icon-eye-close:before {
  content: "\e695";
}

.m-icon-email:before {
  content: "\e696";
}

.m-icon-error:before {
  content: "\e697";
}

.m-icon-favorite:before {
  content: "\e698";
}

.m-icon-file-common:before {
  content: "\e699";
}

.m-icon-file-delete:before {
  content: "\e69a";
}

.m-icon-file-add:before {
  content: "\e69b";
}

.m-icon-film:before {
  content: "\e69c";
}

.m-icon-fabulous:before {
  content: "\e69d";
}

.m-icon-file:before {
  content: "\e69e";
}

.m-icon-folder-close:before {
  content: "\e69f";
}

.m-icon-filter:before {
  content: "\e6a0";
}

.m-icon-good:before {
  content: "\e6a1";
}

.m-icon-hide:before {
  content: "\e6a2";
}

.m-icon-home:before {
  content: "\e6a3";
}

.m-icon-history:before {
  content: "\e6a4";
}

.m-icon-file-open:before {
  content: "\e6a5";
}

.m-icon-forward:before {
  content: "\e6a6";
}

.m-icon-import:before {
  content: "\e6a7";
}

.m-icon-image-text:before {
  content: "\e6a8";
}

.m-icon-keyboard-26:before {
  content: "\e6a9";
}

.m-icon-keyboard-9:before {
  content: "\e6aa";
}

.m-icon-link:before {
  content: "\e6ae";
}

.m-icon-layout:before {
  content: "\e6af";
}

.m-icon-fullscreen-shrink:before {
  content: "\e6b0";
}

.m-icon-layers:before {
  content: "\e6b2";
}

.m-icon-lock:before {
  content: "\e6b3";
}

.m-icon-fullscreen-expand:before {
  content: "\e6b4";
}

.m-icon-map:before {
  content: "\e6b5";
}

.m-icon-meh:before {
  content: "\e6b6";
}

.m-icon-menu:before {
  content: "\e6b7";
}

.m-icon-loading1:before {
  content: "\e6b8";
}

.m-icon-help:before {
  content: "\e6b9";
}

.m-icon-minus-circle:before {
  content: "\e6ba";
}

.m-icon-modular:before {
  content: "\e6bb";
}

.m-icon-notification:before {
  content: "\e6bc";
}

.m-icon-mic:before {
  content: "\e6bd";
}

.m-icon-more:before {
  content: "\e6be";
}

.m-icon-pad:before {
  content: "\e6bf";
}

.m-icon-operation:before {
  content: "\e6c0";
}

.m-icon-play:before {
  content: "\e6c1";
}

.m-icon-print:before {
  content: "\e6c2";
}

.m-icon-mobile-phone:before {
  content: "\e6c3";
}

.m-icon-minus:before {
  content: "\e6c4";
}

.m-icon-navigation:before {
  content: "\e6c5";
}

.m-icon-pdf:before {
  content: "\e6c6";
}

.m-icon-prompt:before {
  content: "\e6c7";
}

.m-icon-move:before {
  content: "\e6c8";
}

.m-icon-refresh:before {
  content: "\e6c9";
}

.m-icon-run-up:before {
  content: "\e6ca";
}

.m-icon-picture:before {
  content: "\e6cb";
}

.m-icon-run-in:before {
  content: "\e6cc";
}

.m-icon-pin:before {
  content: "\e6cd";
}

.m-icon-save:before {
  content: "\e6ce";
}

.m-icon-search:before {
  content: "\e6cf";
}

.m-icon-share:before {
  content: "\e6d0";
}

.m-icon-scanning:before {
  content: "\e6d1";
}

.m-icon-security:before {
  content: "\e6d2";
}

.m-icon-sign-out:before {
  content: "\e6d3";
}

.m-icon-select:before {
  content: "\e6d4";
}

.m-icon-stop:before {
  content: "\e6d5";
}

.m-icon-success:before {
  content: "\e6d6";
}

.m-icon-smile:before {
  content: "\e6d7";
}

.m-icon-switch:before {
  content: "\e6d8";
}

.m-icon-setting:before {
  content: "\e6d9";
}

.m-icon-survey:before {
  content: "\e6da";
}

.m-icon-task:before {
  content: "\e6db";
}

.m-icon-skip:before {
  content: "\e6dc";
}

.m-icon-text:before {
  content: "\e6dd";
}

.m-icon-time:before {
  content: "\e6de";
}

.m-icon-telephone-out:before {
  content: "\e6df";
}

.m-icon-toggle-left:before {
  content: "\e6e0";
}

.m-icon-toggle-right:before {
  content: "\e6e1";
}

.m-icon-telephone:before {
  content: "\e6e2";
}

.m-icon-top:before {
  content: "\e6e3";
}

.m-icon-unlock:before {
  content: "\e6e4";
}

.m-icon-user:before {
  content: "\e6e5";
}

.m-icon-upload:before {
  content: "\e6e6";
}

.m-icon-work:before {
  content: "\e6e7";
}

.m-icon-training:before {
  content: "\e6e8";
}

.m-icon-warning:before {
  content: "\e6e9";
}

.m-icon-zoom-in:before {
  content: "\e6ec";
}

.m-icon-zoom-out:before {
  content: "\e6ed";
}

.m-icon-add-bold:before {
  content: "\e6ee";
}

.m-icon-arrow-left-bold:before {
  content: "\e6ef";
}

.m-icon-arrow-up-bold:before {
  content: "\e6f0";
}

.m-icon-close-bold:before {
  content: "\e6f1";
}

.m-icon-arrow-down-bold:before {
  content: "\e6f2";
}

.m-icon-minus-bold:before {
  content: "\e6f3";
}

.m-icon-arrow-right-bold:before {
  content: "\e6f4";
}

.m-icon-select-bold:before {
  content: "\e6f5";
}

.m-icon-arrow-up-filling:before {
  content: "\e6f6";
}

.m-icon-arrow-down-filling:before {
  content: "\e6f7";
}

.m-icon-arrow-left-filling:before {
  content: "\e6f8";
}

.m-icon-arrow-right-filling:before {
  content: "\e6f9";
}

.m-icon-caps-unlock-filling:before {
  content: "\e6fa";
}

.m-icon-comment-filling:before {
  content: "\e6fb";
}

.m-icon-check-item-filling:before {
  content: "\e6fc";
}

.m-icon-clock-filling:before {
  content: "\e6fd";
}

.m-icon-delete-filling:before {
  content: "\e6fe";
}

.m-icon-decline-filling:before {
  content: "\e6ff";
}

.m-icon-dynamic-filling:before {
  content: "\e700";
}

.m-icon-intermediate-filling:before {
  content: "\e701";
}

.m-icon-favorite-filling:before {
  content: "\e702";
}

.m-icon-layout-filling:before {
  content: "\e703";
}

.m-icon-help-filling:before {
  content: "\e704";
}

.m-icon-history-filling:before {
  content: "\e705";
}

.m-icon-filter-filling:before {
  content: "\e706";
}

.m-icon-file-common-filling:before {
  content: "\e707";
}

.m-icon-news-filling:before {
  content: "\e709";
}

.m-icon-edit-filling:before {
  content: "\e70a";
}

.m-icon-fullscreen-expand-filling:before {
  content: "\e70b";
}

.m-icon-smile-filling:before {
  content: "\e70c";
}

.m-icon-rise-filling:before {
  content: "\e70d";
}

.m-icon-picture-filling:before {
  content: "\e70e";
}

.m-icon-notification-filling:before {
  content: "\e70f";
}

.m-icon-user-filling:before {
  content: "\e710";
}

.m-icon-setting-filling:before {
  content: "\e711";
}

.m-icon-switch-filling:before {
  content: "\e712";
}

.m-icon-work-filling:before {
  content: "\e713";
}

.m-icon-task-filling:before {
  content: "\e714";
}

.m-icon-success-filling:before {
  content: "\e715";
}

.m-icon-warning-filling:before {
  content: "\e716";
}

.m-icon-folder-filling:before {
  content: "\e717";
}

.m-icon-map-filling:before {
  content: "\e718";
}

.m-icon-prompt-filling:before {
  content: "\e719";
}

.m-icon-meh-filling:before {
  content: "\e71a";
}

.m-icon-cry-filling:before {
  content: "\e71b";
}

.m-icon-top-filling:before {
  content: "\e71c";
}

.m-icon-home-filling:before {
  content: "\e71d";
}

.m-icon-sorting:before {
  content: "\e71e";
}

.m-icon-round-loading:before {
  content: "\eb74";
}
